{# Header Component #}
<header class="header">
  <div class="header-left">
    <div class="header-center-name" id="headerCenterName">Fjör</div>
    <div class="header-date" id="headerDate"></div>
  </div>
  <div class="header-right">
    <span class="user-name" id="userName"></span>
    <button class="logout-btn" onclick="logout()">Útskrá</button>
  </div>
</header>
